.navbar-section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#web-app-title {
  color: #fff;
  background: none;
  padding: 0;
  border: 0;
  font-size: 1.3vw;
}

.navbar-tab:hover {
  filter: brightness(150%);
}

.navbar-tab:active {
  background: none;
  filter: brightness(100%);
}

@media (orientation: landscape) {
  #navbar {
    background: #e5383b;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1000;
  }

  #navbar-section-left {
    flex: 1;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #navbar-section-right {
    flex: 5;
    justify-content: flex-start;
  }

  .navbar-tab-divider {
    color: #fdcb6e;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-tab {
    color: #dfdede;
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none
  }

  .navbar-tab:hover {
    filter: brightness(150%);
    font-size: 1em;
  }
}

@media (orientation: portrait) {
  #navbar {
    background: #e5383b;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1000;
  }

  #navbar-section-left {
    display: none;
  }

  #navbar-section-right {
    flex: 1;
    justify-content: center;
  }

  .navbar-tab-divider {
    color: #fdcb6e;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-tab {
    color: #dfdede;
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-tab:hover {
    filter: brightness(150%);
    font-size: 1.1em;
  }
}