.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: left;
  padding: 10px;
  border-style: solid;
  border-width: 0.5vw;
  border-radius: 5px;
  border-color: #ba181b;
  box-shadow: 0 5px 10px rgba(0 0 0 / 20%);
  width: min(80vw, 300px);
  z-index: 999;
  font-weight: bold;
  background-color: #fff;

  /* Used for the popup
  opacity: 0%;
  pointer-events: none;
  transition: all 0.3s ease-in-out; */
}

.notification .close {
  color: #fff;
  background-color: #ba181b;
  border: transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 16px;
}

.contents p {
  font-size: 25px;
  text-align: left;
}

.dropdown {
  position: relative;
  text-align: left;
  width: fit-content;
  width: 100%;
  padding-bottom: 15px;
}

.dropdown select {
  height: 25px;
  width: 90%;
  border-radius: 4px;
  border: none;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  color: grey;
}

.close:hover {
  transition: 0.5s;
  background: #a11d1f;
}

#secondary-button {
  background-color: #ba181b;
  color: #fff;
  border: transparent;
  padding: 10px;
  border-radius: 5px;
}

#secondary-button:hover {
  transition: 0.5s;
  background: #a11d1f;
}

#close {
  background: none;
  border: none;
  position: absolute;
  right: 2px;
}
