main {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
  display: flex;
  flex-direction: column;
}

.search-section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-box {
  background-color: #e78686;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  box-shadow: 0 8px 8px rgba(0 0 0 / 80%);
  border-radius: 20px;
}

.search-title {
  font-size: 8vw;
  margin: 5px;
}

.image-section {
  position: relative;
  top: 10vw;
  text-align: center;
  height: 50px;
}

#home-img {
  width: min(75vw, 800px);
  height: min(40vw, 500px);
  box-shadow: 0 1vw 1vw rosybrown;
}

@media (orientation: landscape) {
  .search-title {
    font-size: 5vw;
  }

  #recipe-search {
    font-size: 1em;
  }

  .search-section {
    top: 6vw;
  }

  .search-box {
    height: 25vh;
    width: 80vw;
  }

  .featured-recipes {
    font-size: 4vw;
    position: relative;
    top: 20px;
    text-align: center;
    padding-bottom: 5vw;
  }

  #explore {
    height: 20vw;
    width: 90%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    align-content: stretch;
    padding-left: 5%;
    padding-right: 5%;
  }

  #explore-button {
    top: 4vw;
    font-size: 2vw;
    height: 4vw;
    width: 20vw;
  }
}

@media (orientation: portrait) {
  .search-title {
    font-size: 8vw;
  }

  #recipe-search {
    font-size: 0.5em;
  }

  .search-section {
    top: 3vh;
  }

  .search-box {
    height: 30vw;
    width: 90%;
  }

  #home-img {
    width: 0;
    height: 0;
  }

  .featured-recipes {
    height: 1vh;
    padding-bottom: 1vh;
  }

  #explore {
    height: 100vw;
    width: 90%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    justify-content: space-around;
    align-content: space-evenly;
    align-items: stretch;
    padding-left: 5%;
    padding-right: 5%;
  }

  #explore-button {
    top: 0;
    font-size: 4vw;
    height: 5vh;
    width: 25vw;
  }
}

#explore-button {
  /* Details taken from Figma */
  background-color: #ba181b;
  color: #fff;
  border: 1px solid #ba181b;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10vw;
}

#explore-button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

/* Details taken from  https://www.w3schools.com/howto/howto_css_searchbar.asp */
#recipe-search {
  align-self: center;
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0 0 0 / 25%);
  border-radius: 10px;
  font-size: 17px;
  margin: 10px;
  height: 36px;
  width: 70%;
  text-align: center;
  background-image: url("../images/magnifyingglass.png");
  background-repeat: no-repeat;
  background-position: 30px;
}